@model DTO.Account.PasswordRecoveryEmailViewModel

<div style="text-align: center;">
    <table style="background: rgba(24, 166, 217,0.1); width: 700px; margin: auto; text-align: left;">
        <tr>
            <td style="text-align: center;">
                <img src="@($"{Context.Request.Scheme}://{Context.Request.Host}/image/logo2.png")" height="145" style="height: 145px;margin-top: 1em;" />
            </td>
        </tr>
        <tr>
            <td style="padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;">
                <div>
                    <label style="font-weight: bold;">Olá @Model.User.FirstName @Model.User.LastName,</label>
                </div>
                <p style="margin-top: 0 !important; margin-bottom: 1rem !important; font-weight: bold;">Para redefinir sua senha <a href="@Model.EmailCallback">clique aqui</a>.</p>
            </td>
        </tr>
        <tr>
            <td style=" padding: 20px;">
                Atenciosamente,
                <br />
                Equipe SINCONED
            </td>
        </tr>
    </table>
</div>